:root {
    --fs: 18px;
    --ff: "Outfit";

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --main-very-dark-blue: hsl(217, 54%, 11%); /*(main BG)*/
    --card-very-dark-blue: hsl(216, 50%, 16%); /*(card BG)*/
    --line-very-dark-blue: hsl(215, 32%, 27%); /*(line)*/
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--main-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: var(--card-very-dark-blue);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
}

.image {
    position: relative;
}

.main-image {
    border-radius: 10px;
    display: block;
    max-width: 280px;
    margin: 20px auto 0;
    width: auto;
}

.svg {
    display: none;
    visibility: hidden;
}

.overlay {
    background-color: var(--cyan);
    border-radius: 10px;
    display: none;
    height: 280px;
    left: 6%;
    opacity: 0.5;
    position: absolute;
    width: 280px;
}

.container:hover .overlay {
    display: block;
}

.container:hover .svg {
    bottom: 45%; 
    display: inline;
    left: 43%;
    position: absolute;
    right: 40%;
    top: 42%;
    visibility: visible;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    padding: 0 20px;
}

h1 {
    color: var(--white);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-600);
}

h1:hover {
    color: var(--cyan);
}

.image-description {
    color: var(--soft-blue);
    font-family: var(--ff);
    margin: 0;
}

.cyan {
    color: var(--cyan);
    font-weight: var(--fw-400);
    font-family: var(--ff);
    font-size: var(--fs);
    margin-left: 10px;
}

.days {
    color: var(--soft-blue);
    font-weight: 300;
    font-family: var(--ff);
    font-size: var(--fs);
    margin-left: 10px;
}

hr {
    border-width: 1px 0 0;
    color: var(--soft-blue);
    margin: 0;
}

.avatar {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.name {
    color: var(--soft-blue);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-300);
    margin: 0 0 0 20px;
}

.avatar img {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.avatar span {
    color: var(--white);
    font-family: var(--ff);
}

span:hover {
    color: var(--cyan);
}
