:root {
    --fs: 18px;
    --ff: "Outfit";

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --main-very-dark-blue: hsl(217, 54%, 11%); /*(main BG)*/
    --card-very-dark-blue: hsl(216, 50%, 16%); /*(card BG)*/
    --line-very-dark-blue: hsl(215, 32%, 27%); /*(line)*/
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--main-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nft-card {
    background-color: var(--card-very-dark-blue);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
}

.nft-card__image-container {
    position: relative;
}

.nft-card__image-container__main-image {
    border-radius: 10px;
    display: block;
    max-width: 280px;
    margin: 20px auto 0;
    width: auto;
}

.nft-card__image-container__svg {
    display: none;
    visibility: hidden;
}

.nft-card__image-container__overlay {
    background-color: var(--cyan);
    border-radius: 10px;
    display: none;
    height: 280px;
    left: 6%;
    opacity: 0.5;
    position: absolute;
    width: 280px;
}

.nft-card:hover .nft-card__image-container__overlay {
    display: block;
}

.nft-card:hover .nft-card__image-container__svg {
    bottom: 45%;
    display: inline;
    left: 43%;
    position: absolute;
    right: 40%;
    top: 42%;
    visibility: visible;
}

.nft-card__text-container {
    padding: 0 20px;
}

.nft-card__text-container__col {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nft-card__text-container__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nft-card__text-container__header {
    color: var(--white);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-600);
}

.nft-card__text-container__header:hover {
    color: var(--cyan);
}

.nft-card__text-container__image-text {
    color: var(--soft-blue);
    font-family: var(--ff);
    margin: 0;
}

.nft-card__text-container__col__text-cyan {
    color: var(--cyan);
    font-weight: var(--fw-400);
    font-family: var(--ff);
    font-size: var(--fs);
    margin-left: 10px;
}

.nft-card__text-container__col__text {
    color: var(--soft-blue);
    font-weight: 300;
    font-family: var(--ff);
    font-size: var(--fs);
    margin-left: 10px;
}

.nft-card__text-container__line {
    border-width: 1px 0 0;
    color: var(--soft-blue);
    margin: 0;
}

.nft-card__avatar-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.nft-card__avatar-container__text {
    color: var(--soft-blue);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-300);
    margin: 0 0 0 20px;
}

.nft-card__avatar-container__image {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.nft-card__avatar-container__text--cyan {
    color: var(--white);
    font-family: var(--ff);
}

.nft-card__avatar-container__text--cyan:hover {
    color: var(--cyan);
}
